form {
    display: flex;
    flex-direction: column;
}
.form-container{
    margin-top: 1rem;
    margin-left: 20rem;
}

label{
    font-weight: 500;
    margin: .5rem;
}

input{
    margin-left: 1rem;
    min-height: 2rem;
    min-width: 20rem;
}
textarea{
    min-width: 30rem;
    min-height: 5rem;
    margin-left: 1rem;
}

.submit{
    height: 2rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  
    margin:1rem ;
    border:none;
    background-color: rgb(107, 255, 151);
    width: 20%;
    border-radius: 20px;
}

.text{
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

h3{
    margin-bottom: 10px;
}